*{ box-sizing: border-box; }
body{ font: 12px/1.5 Microsoft YaHei,Heiti SC,tahoma,arial,Hiragino Sans GB,"\5B8B\4F53",sans-serif; background-color: #f4f4f4; color: #666; }
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } 
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; } 
h1, h2, h3, h4, h5, h6{ font-size:100%; } 
address, cite, dfn, em, var { font-style:normal; } 
code, kbd, pre, samp { font-family:couriernew, courier, monospace; } 
small{ font-size:12px; } 
ul, ol { list-style:none; } 
a { text-decoration:none; } 
a:hover { text-decoration:underline; } 
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; } 
fieldset, img { border:0; } 
button, input, select, textarea { font-size:100%;border: 0;outline: none; } 
table { border-collapse:collapse; border-spacing:0; } 
.maxWidth { width: 1200px; margin: 0 auto; }
.flex { display: flex; }
.flexAllCenter { display: flex; justify-content: center; align-items: center; }
.flexEndCenter { display: flex; justify-content: flex-end; align-items: center; }
.flexBetweenCenter{ display: flex; justify-content: space-between; align-items: center; }
.bg-white { background-color: #fff; }